@use '../../assets/styles/variables/colors' as colors;
@use '../../assets/styles/variables/fonts' as fonts;

header {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background: colors.$color--brown;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-family: fonts.$font--primary;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .header__link {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    
    #brand-name {
        font-size: 2rem;
    }
}